{% load static %}
  <aside class="navbar-aside" id="offcanvas_aside">
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link" href="{% url 'home' %}"> <i class="icon material-icons md-home"></i>
                    <span class="text">Device</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" > <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">LOCATION</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">D(x) Device </span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" > <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Action </span>
                </a>
            </li>
            
            
        </ul>
        <hr>

        <br>
        <br>
    </nav>
</aside>

